# Ignorar resultados de testes do Robot Framework
results/

# Arquivos de saída do Robot
log.html
output.xml
report.html

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# pytest cache
.pytest_cache/

# Virtualenvs
venv/
.env/
env/

# Configurações de IDEs
.vscode/
.idea/
